USE [TMS_ALI]
GO
/****** Object:  StoredProcedure [dbo].[SelectVouchers]    Script Date: 03-Feb-18 9:47:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelectVouchers]

@Option as  varchar(20)='',
@BranchCode as char(10) ='',
@TransactionNo as char(10) ='',
@TransactionNature as  char(3)='',
@Nature as  char(3)='',
@YearMonth as varchar(4)=''
AS



	IF @Option='ALL'  
		SELECT     dbo.Vouchers.VoucherNature AS TransactionNature, dbo.Vouchers.VoucherNo AS TransactionNo, dbo.Vouchers.VoucherDate AS TransactionDate, 
                      dbo.Vouchers.Description, dbo.Vouchers.UrduTitle , dbo.Vouchers.Locked, dbo.Vouchers.Posted, dbo.Vouchers.RecordNo, dbo.Vouchers.GUID, dbo.Vouchers.BranchCode, 
                      dbo.Branches.BranchDescription AS BranchName ,dbo.Vouchers.IsAutoGenerated
		FROM         dbo.Vouchers LEFT OUTER JOIN
                      dbo.Branches ON dbo.Vouchers.BranchCode = dbo.Branches.BranchCode
		WHERE dbo.Vouchers.VoucherNature=@TransactionNature
        ORDER BY dbo.Vouchers.BranchCode, dbo.Vouchers.VoucherNature , dbo.Vouchers.VoucherNo 
	ELSE IF @Option='AUTO' 
		SELECT TOP 1 VoucherNo as TransactionNo FROM dbo.Vouchers 
		WHERE ( SUBSTRING( CAST( VoucherNo AS varchar(4) ) ,1,4) = @YearMonth ) AND VoucherNature = @TransactionNature AND BranchCode = @BranchCode   
		ORDER BY VoucherNo DESC
	ELSE IF @Option='REPORT'  
		SELECT     dbo.Vouchers.VoucherNature, dbo.Vouchers.VoucherNo, dbo.Vouchers.VoucherDate, dbo.Vouchers.Description, dbo.VoucherDetails.Reference, 
		      dbo.VoucherDetails.Debit, dbo.VoucherDetails.Credit, dbo.VoucherDetails.Narration, dbo.Branches.BranchCode, dbo.Branches.BranchDescription, 
		      dbo.Divisions.DivisionCode, dbo.Divisions.Division, dbo.GL_GetCOACombineTransactionVW.GLCode, dbo.GL_GetCOACombineTransactionVW.GLDescription
		FROM         dbo.VoucherDetails INNER JOIN
		      dbo.Vouchers ON dbo.VoucherDetails.VoucherNo = dbo.Vouchers.VoucherNo AND dbo.VoucherDetails.VoucherNature = dbo.Vouchers.VoucherNature LEFT OUTER JOIN
		      dbo.GL_GetCOACombineTransactionVW ON dbo.VoucherDetails.GLCode = dbo.GL_GetCOACombineTransactionVW.GLCode LEFT OUTER JOIN
		      dbo.Branches ON dbo.Vouchers.BranchCode = dbo.Branches.BranchCode LEFT OUTER JOIN
		      dbo.Divisions ON dbo.VoucherDetails.DivisionCode = dbo.Divisions.DivisionCode
		WHERE dbo.Vouchers.VoucherNature=@TransactionNature AND dbo.Vouchers.VoucherNo=@TransactionNo
		 ORDER BY dbo.Vouchers.BranchCode, dbo.Vouchers.VoucherNature , dbo.Vouchers.VoucherNo 
	ELSE
		SELECT     dbo.Vouchers.VoucherNature AS TransactionNature, dbo.Vouchers.VoucherNo AS TransactionNo, dbo.Vouchers.VoucherDate AS TransactionDate, 
                      dbo.Vouchers.Description,dbo.Vouchers.UrduTitle, dbo.Vouchers.Locked, dbo.Vouchers.Posted, dbo.Vouchers.RecordNo, dbo.Vouchers.GUID, dbo.Vouchers.BranchCode, 
                      dbo.Branches.BranchDescription AS BranchName,dbo.Vouchers.IsAutoGenerated
		FROM         dbo.Vouchers LEFT OUTER JOIN
                      dbo.Branches ON dbo.Vouchers.BranchCode = dbo.Branches.BranchCode

		WHERE dbo.Vouchers.VoucherNature=@TransactionNature AND Vouchers.VoucherNo=@TransactionNo AND Vouchers.BranchCode=@BranchCode

GO
