USE [TMS_ALI]
GO
/****** Object:  StoredProcedure [dbo].[UpdateVouchers]    Script Date: 03-Feb-18 9:47:12 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[UpdateVouchers]
    @BranchCode CHAR(2) = '',
    @TransactionNature CHAR(2) = '',
    @BranchName CHAR(2) = '',
    @TransactionNo VARCHAR(15) = ' ',
    @UrduTitle NVARCHAR(500) = ' ',
    @TransactionDate DATETIME = ' ',
    @Description VARCHAR(200) = '',
    @Locked TINYINT = 0,
    @IsAutoGenerated TINYINT = 0,
    @Posted TINYINT = 0,
    @GUID AS INTEGER = 0,
    @NewRecord AS BIGINT = 0
AS 
    DECLARE @VoucherNo VARCHAR(10)
    DECLARE @DateValue VARCHAR(4)



    IF @NewRecord = 1 
        BEGIN
            SET @DateValue = dbo.DateToKey(@TransactionDate) 
            SELECT TOP 1
                    @VoucherNo = VoucherNo
            FROM    dbo.Vouchers
            WHERE   ( BranchCode = @BranchCode )
                    AND ( VoucherNature = @TransactionNature )
                    AND ( LEFT(VoucherNo, 4) = @DateValue )
            ORDER BY VoucherNo DESC
            SET @VoucherNo = dbo.KeyValue(@DateValue, @VoucherNo)
            SELECT  @VoucherNo AS TransactionNo

            INSERT  INTO Vouchers
                    (
                      BranchCode,
                      VoucherNature,
                      VoucherNo,
                      VoucherDate,
                      Description,
                      UrduTitle,
                      IsAutoGenerated,
                      GUID
                    )
            VALUES  (
                      @BranchCode,
                      @TransactionNature,
                      @VoucherNo,
                      @TransactionDate,
                      @Description,
                      @UrduTitle,
                      @IsAutoGenerated,
                      @GUID
                    ) 
        END
    ELSE 
        BEGIN
            SELECT  @TransactionNo AS TransactionNo
            UPDATE  Vouchers
            SET     VoucherNature = @TransactionNature,
                    VoucherNo = @TransactionNo,
                    UrduTitle = @UrduTitle,
                    VoucherDate = @TransactionDate,
                    [Description] = @Description
            WHERE   ( VoucherNature = @TransactionNature
                      AND VoucherNo = @TransactionNo
                      AND BranchCode = @BranchCode
                      --AND IsAutoGenerated = 0
                    )
		
        END

GO
