USE [TMS_ALI]
GO
/****** Object:  StoredProcedure [dbo].[DeleteRegions]    Script Date: 27-Jan-18 11:24:03 AM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[DeleteRegions]
@RegionCode nchar(5)=''
AS
	IF @RegionCode <> ''
		DELETE FROM Regions 
		WHERE ( RegionCode= @RegionCode)

GO
