USE [TMS_ALI]
GO
/****** Object:  StoredProcedure [dbo].[DeleteVehicles]    Script Date: 03-Feb-18 9:47:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[DeleteVehicles]
@VehicleCode nchar(10)=''
AS
	IF @VehicleCode <> ''
		DELETE FROM Vehicles
		WHERE ( VehicleCode= @VehicleCode)

GO
