<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Infragistics.Win.UltraWinExplorerBar.UltraExplorerBar.frmMain.TransportManagementSystem" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="BusinessLeaf.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BusinessLeaf.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <userSettings>
    <Infragistics.Win.UltraWinExplorerBar.UltraExplorerBar.frmMain.TransportManagementSystem>
      <setting name="BinaryData" serializeAs="Xml">
        <value>
          <base64Binary>AAEAAAD/////AQAAAAAAAAAMAgAAAHZJbmZyYWdpc3RpY3M0Lldpbi5VbHRyYVdpbkV4cGxvcmVyQmFyLnYxNy4yLCBWZXJzaW9uPTE3LjIuMjAxNzIuMTAwMCwgQ3VsdHVyZT1uZXV0cmFsLCBQdWJsaWNLZXlUb2tlbj03ZGQ1YzMxNjNmMmNkMGNiBQEAAAA9SW5mcmFnaXN0aWNzLldpbi5VbHRyYVdpbkV4cGxvcmVyQmFyLlVsdHJhRXhwbG9yZXJCYXJTdHJlYW1lcgAAAAACAAAACw==</base64Binary>
        </value>
      </setting>
    </Infragistics.Win.UltraWinExplorerBar.UltraExplorerBar.frmMain.TransportManagementSystem>
    <BusinessLeaf.My.MySettings>
      <setting name="ModuleStartDate" serializeAs="String">
        <value>2009-09-29</value>
      </setting>
      <setting name="Theme" serializeAs="String">
        <value>Green</value>
      </setting>
      <setting name="ColorChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowPostedData" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FreightGLCode" serializeAs="String">
        <value>0201</value>
      </setting>
      <setting name="ModuleShortName" serializeAs="String">
        <value>TMS</value>
      </setting>
      <setting name="ModuleLongName" serializeAs="String">
        <value>Transport Management System</value>
      </setting>
      <setting name="DefaultBranchCode" serializeAs="String">
        <value>01</value>
      </setting>
    </BusinessLeaf.My.MySettings>
  </userSettings>
  <applicationSettings>
    <BusinessLeaf.My.MySettings>
      <setting name="Description" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="CompanyName" serializeAs="String">
        <value>Ali &amp; Company</value>
      </setting>
      <setting name="ServerName" serializeAs="String">
        <value>DotnetServer</value>
      </setting>
      <setting name="DateFormat" serializeAs="String">
        <value>dd-MMM-yyyy</value>
      </setting>
      <setting name="CityCode_Length" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="CustomerCode_Length" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ControlCode_Length" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="GeneralCode_Length" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="GeneralCodeFK_Length" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="SubsidiaryCode_Length" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="SubsidiaryCodeFK_Length" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="ExcelFilePath" serializeAs="String">
        <value>C:\Program Files\Excel\excel.exe</value>
      </setting>
      <setting name="SubSubsidiaryCode_Length" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="SoftwareExpireDate" serializeAs="String">
        <value>2010-11-26</value>
      </setting>
      <setting name="TransactionNo" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="SetupFormMinimumSize" serializeAs="String">
        <value>310, 0</value>
      </setting>
      <setting name="SupplierCode_Length" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="BranchCode_Length" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="VehicleCode_Length" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="VehicleOwnerCode_Length" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="GLCode_Length" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="CommissionRate" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="CommissionGLCode" serializeAs="String">
        <value>0501</value>
      </setting>
      <setting name="Creditors" serializeAs="String">
        <value>0202</value>
      </setting>
      <setting name="Debtors" serializeAs="String">
        <value>0101</value>
      </setting>
      <setting name="ProductCode_Length" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="DivisionCode_Length" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="RegionCode_Length" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="DefaultDivisionCode" serializeAs="String">
        <value>001</value>
      </setting>
      <setting name="ShortageGLCode" serializeAs="String">
        <value>0601</value>
      </setting>
      <setting name="SaleTaxRate" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="WHTaxGLCode" serializeAs="String">
        <value>06020001</value>
      </setting>
      <setting name="ApplicationName" serializeAs="String">
        <value>B-Leaf {Transport Management System}</value>
      </setting>
      <setting name="TripAdvanceGLCode" serializeAs="String">
        <value>010200020002</value>
      </setting>
      <setting name="CurrentYearStartDate" serializeAs="String">
        <value>2009-01-01</value>
      </setting>
      <setting name="ThisSystemName" serializeAs="String">
        <value>DotNetServer</value>
      </setting>
      <setting name="DaysForWorking" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="CashAndBankGLCode" serializeAs="String">
        <value>0102</value>
      </setting>
      <setting name="FSFExpenseAccount" serializeAs="String">
        <value>22</value>
      </setting>
      <setting name="FSFAssetsAccount" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="FSFIncomeAccount" serializeAs="String">
        <value>21</value>
      </setting>
      <setting name="FSFLiabilityAccount" serializeAs="String">
        <value>11</value>
      </setting>
      <setting name="FSFBalanceSheetEnd" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="FSFBalanceSheetStart" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="FSFIncomeStatementEnd" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="FSFIncomeStatementStart" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="FSFSubSubsidiaryCode_Length" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="FSFSubsidiaryCodeFK_Length" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="FSFGeneralCodeFK_Length" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="FSFSubsidiaryCode_Length" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="FSFGeneralCode_Length" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="FSFControlCode_Length" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="FSFGLCode" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="TripAdvanceCode" serializeAs="String">
        <value>01</value>
      </setting>
      <setting name="TransactionTypeCode_Length" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="IsWithGL" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UrduFontType" serializeAs="String">
        <value>Microsoft Sans Serif, 11.25pt, style=Bold</value>
      </setting>
      <setting name="DatabaseName" serializeAs="String">
        <value>TMS</value>
      </setting>
      <setting name="ConnectionString" serializeAs="String">
        <value>Data Source=SHAMIM-PC\DOTNETSERVER;Initial Catalog=TMS_ALI;Integrated Security=True</value>
      </setting>
      <setting name="ShouldVoucherGenerate" serializeAs="String">
        <value>False</value>
      </setting>
    </BusinessLeaf.My.MySettings>
  </applicationSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
